/*index.html*/
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.left-column {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex: 1;
}

.left-column h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.left-column h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
}

.left-column button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1cm;
  margin-right: 0.3cm;
}

.right-column {
  background-color: #f5f5dc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  background-color: #F4DFC8;
}

.contact-links a:hover {
  font-size: 1.8rem;
  color: #444;
}

.contact-links a {
  color: black;
}

.contact-links div {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3cm;
  padding-bottom: 3cm;
  padding-left: 4.1cm;
  padding-right: 4cm;
  border: 1px solid black;
  border-collapse: collapse;
}

#backtoTop {
  position: static;
  width: fit-content;
  height: auto;
  padding: 0.2cm 0.3cm;
  font-size: 1rem;
  box-shadow: 2px 0px rgba(0, 0, 0, 0.671);
}

@media (max-width:800px) {

  .left-column h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    margin-top: 1cm;
  }

  .left-column h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
  }

  .left-column button {
    margin: 3px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
  }

  .right-column img {
    width: 100%;
    height: 100%;
  }
}

/*resume.html*/
.resume {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
}

.container {
  width: max-content;
  margin-top: 1cm;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
  padding-top: 1cm;
  background-color: white;
}

.container h1 {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.container p {
  line-height: 1.6;
  text-align: justify;
  padding-left: 4cm;
  padding-right: 4cm;
}

.resume-button {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  animation: slideIn 1s ease-in-out;
  margin-left: 4cm;
}

.resume-button:hover {
  background-color: #444;
  text-decoration: none;
}

.education {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-top: 1cm;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: max-content;
}

.education h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 1cm;
  animation: fadeIn 2s ease-in-out;
}

.education-items {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-left: -1cm;
}

.education-items div {
  text-align: center;
  font-size: 1.5rem;
  padding: 1cm 3cm;
  border-collapse: collapse;
  color: white;
  animation: fadeIn 2s ease-in-out;
}

.education-items div li {
  text-align: left;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width:800px) {
  .container p {
    line-height: 1.6;
    text-align: justify;
    padding-left: 0.5cm;
    padding-right: 1cm;
  }

  .resume-button {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    animation: slideIn 1s ease-in-out;
    margin-left: 4cm;
  }
}

@media (max-width: 600px) {
  .education {
    width: 100%;
    padding: 25px;
  }

  .education-items {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .education-items div {
    padding: 40px;
    font-size: 1.2rem;
    width: 100%;
  }

  .education h2 {
    font-size: 1.5rem;
  }

  .education-items ul {
    padding: 0;
  }

  .education-items div li {
    text-align: center;
  }

  .resume .sidebar {
    width: 400px;
  }

  .resume label #cancel {
    z-index: 1111;
    display: none;
    /*right: 20px;  Align cancel button to the right */
    top: 27px;
    font-size: 20px;
    color: #ffffff;
    padding: 9px 12px;
    transition: all .5s ease;
    border-radius: 50%;
    list-style: none;
    text-decoration: none;
  }

  .resume label #cancel:hover {
    background-color: #313334;
    padding: 9px 12px;
    border-radius: 50%;
    border: #000000 1px solid;
  }

  .resume #check:checked~label #btn {
    opacity: 0;
    pointer-events: none;
  }

  .resume #check:checked~label #cancel {
    right: 20px;
  }
}


/*navbar*/

.sidebar {
  z-index: 1110;
  position: fixed;
  display: none;
  right: -250px;
  /* Change from left to right */
  width: 350px;
  height: 100%;
  background: #2c3031;
}

.sidebar ul li {
  list-style: none;
  text-decoration: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 85px;
  font-size: 20px;
  color: white;
  padding-left: 70px;
  box-sizing: border-box;
  transition: .4s;
  list-style: none;
  text-decoration: none;
}

ul li:hover a {
  padding-left: 90px;
  list-style: none;
  text-decoration: none;
}

.sidebar ul a i {
  margin-right: 16px;
  list-style: none;
  text-decoration: none;
}

#check {
  display: none;
  list-style: none;
  text-decoration: none;
}

label #btn {
  position: absolute;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

label #cancel {
  position: fixed;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

label #btn {
  right: 220px;
  /* Align button to the right */
  top: 55px;
  font-size: 25px;
  color: white;
  padding: 16px 16px;
  transition: all .5s;
  border-radius: 50%;
  list-style: none;
  text-decoration: none;
}

label #cancel {
  z-index: 1111;
  display: none;
  /*right: 20px;  Align cancel button to the right */
  top: 17px;
  font-size: 20px;
  color: #ffffff;
  padding: 9px 12px;
  transition: all .5s ease;
  border-radius: 50%;
  list-style: none;
  text-decoration: none;
}

label #cancel:hover {
  background-color: #313334;
  padding: 9px 12px;
  border-radius: 50%;
  border: #000000 1px solid;
}

#check:checked~.sidebar {
  right: 0;
  /* Change from left to right */
  display: list-item;
  transition: all .5s ease;
  list-style: none;
  text-decoration: none;
}

#check:checked~label #btn {
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #cancel {
  right: 20px;
  /* Align cancel button to the right */
  display: list-item;
}

#check:checked~section {
  margin-right: 250px;
  /* Change from margin-left to margin-right */
  list-style: none;
  text-decoration: none;
}

@media (max-width:800px) {
  .sidebar {
    z-index: 1110;
    position: fixed;
    display: none;
    right: -250px;
    /* Change from left to right */
    width: 780px;
    height: 100%;
    background: #2c3031;
  }

  .sidebar ul a i {
    margin-right: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  label #btn {
    right: 330px;
    top: 45px;
  }

  label #cancel {
    z-index: 1111;
    display: none;
    /*right: 20px;  Align cancel button to the right */
    top: 27px;
    font-size: 20px;
    color: #ffffff;
    padding: 9px 12px;
    transition: all .5s ease;
    border-radius: 50%;
    list-style: none;
    text-decoration: none;
  }

  label #cancel:hover {
    background-color: #313334;
    padding: 9px 12px;
    border-radius: 50%;
    border: #000000 1px solid;
  }

  #check:checked~label #btn {
    opacity: 0;
    pointer-events: none;
  }

  #check:checked~label #cancel {
    right: 510px;
  }
}

/* projects */
.projects {
  background-color: #F4EAE0;
  margin: 0;
}

#project-heading {
  text-align: center;
  margin-top: 1cm;
}

/*Proects card*/
.card-container {
  position: relative;
  width: 920px;
  height: 290px;
  text-align: left;
  background-color: black;
  margin-top: 2cm;
  margin-left: 300px;
  border-radius: 15px;
  margin-bottom: 2cm;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.534);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.card-front {
  /* background: black; */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.card-back {
  /* background: black; */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  opacity: 0;
}

.card-container:hover .card-front {
  opacity: 0;
}

.card-container:hover .card-back {
  opacity: 1;
}

.knowmore {
  padding: 10px 20px;
  cursor: pointer;
  background-color: aliceblue;
}

.knowmore :hover {
  background-color: rgb(0, 34, 255);
}

.card-front img,
.card-back img {
  border-radius: 15px;
}

@media screen and (max-width: 800px) {
  .contact-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-links div {
    width: 50%;
    /* Two columns */
    padding: 1.2cm;
    font-size: 1rem;
    box-sizing: border-box;
  }

  #project-heading {
    font-size: 1.7rem;
  }

  #backtoTop {
    padding: 0.1cm 0.2cm;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .contact-links div {
    flex-direction: column;
    width: 100%;
    /* Single column for smaller screens */
    padding: 1cm;
    font-size: 1.2rem;
  }

  .card-container {
    margin-left: 0;
  }

  #backtoTop {
    padding: 0.1cm 0.2cm;
    font-size: 0.5rem;
  }
}



/*utt-anthariya*/
.project-1 {
  background-color: #F4DFC8;
  margin: 0;
}

.project-1 h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}

.project-1 p {
  /* text-align: center; */
  text-align: justify;
  font-size: 1.3rem;
  animation: fadeIn 0.5s ease-in-out;
  margin: 40px 100px;
  padding: 0 100px;
  line-height: 1.5;
}

.project-1 hr {
  width: 2cm;
  text-align: center;
  border: 2px solid black;
}

.project-1 button {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  margin-left: 50px;
  margin-top: 30px;
}

/*flex*/

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  border: #000 1px solid;
}

.flex-item-left {
  background-color: #ffffff;
  /* padding: 10px; */
  flex: 50%;
  border-right: #000 1px solid;
}

.flex-item-left img {
  width: 90%;
  height: auto;
  animation: fadeIn 1s ease-in-out;
}

.flex-item-right {
  background-color: #F4EAE0;
  flex: 50%;
}

.flex-item-right p {
  margin: 40px;
  text-align: left;
  margin-top: 3.2cm;
}

.flex-item-right ul li {
  font-size: 1.3rem;
  text-align: left;
  margin: 40px;
}

@media (max-width: 800px) {
  .flex-item-right ul li {
    font-size: 1rem;
  }
}

/*utt-anthariya card*/
.container-card {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #F4DFC8;
}

.card-container-u {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  max-width: 900px;
  max-height: 600px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.534);
  background-color: #313334;
  animation: fadeIn 2s ease-in-out;
}

.card-item-left-u {
  background-color: #313334;
  flex: 95%;
  border-right: #000 1px solid;
  border-radius: 15px;
}

.card-item-left-u img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-item-right-u {
  background-color: #313334;
  color: white;
  flex: 5%;
  border-radius: 15px;
}

.card-item-right-u p {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 3.2cm;
  writing-mode: vertical-lr;
}

#backtotopButton {
  position: relative;
  width: max-content;
  height: auto;
  padding: 0.2cm 0.3cm;
  font-size: 1rem;
  box-shadow: 2px 0px rgba(0, 0, 0, 0.671);
  float: right;
  margin-right: 0.5cm;
  margin-bottom: 0.5cm;
}

@media (max-width: 800px) {
  .project-1 p {
    font-size: 1rem;
    text-align: justify;
    margin: 10px;
  }

  .project-1 h1 {
    font-size: 2rem;
  }

  .project-1 button {
    margin-left: 10px;
    padding: 10px 15px;
  }

  .flex-container {
    flex-direction: column;
  }

  /* .flex-item-left img {
    width: 100%;
    height: auto;
    animation: fadeIn 1s ease-in-out;
  } */

  .container-card {
    grid-template-columns: 450px;
  }

  .card-item-right-u p {
    font-size: 1rem;
    padding: 0;
  }
}

/*Seminar*/
.seminar {
  background-color: #F4DFC8;
  margin: 0;
}

.seminar h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 2.8rem;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 80px;
  padding: 0 90px;
}

.seminar p {
  text-align: justify;
  font-size: 1.3rem;
  animation: fadeIn 0.5s ease-in-out;
  margin: 40px 100px;
  padding: 0 100px;
  line-height: 1.5;
}

.seminar hr {
  width: 2cm;
  text-align: center;
  border: 2px solid black;
}

.seminar button {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  margin-left: 50px;
  margin-top: 30px;
}

@media (max-width: 800px) {
  .seminar p {
    font-size: 1.5rem;
    text-align: justify;
    margin: 30px;
    padding: 0;
  }

  .seminar h1 {
    font-size: 1.7rem;
    margin: 30px;
    padding: 0;
    margin-left: 60px;
  }

  .seminar button {
    margin-left: 10px;
    padding: 10px 15px;
  }
}

/* slider */
#slider {
  margin: 0 auto;
  width: 900px;
  max-width: 3100%;
  text-align: center;
}

#slider input[type=radio] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  border: 0px solid #ccc;
  background: #F4EAE0;
  position: relative;
  z-index: 1;
  width: 920px;
  height: auto;
  padding: 10px;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked~#slides .inner {
  margin-left: 0;
}

#slide2:checked~#slides .inner {
  margin-left: -105%;
}

#slide3:checked~#slides .inner {
  margin-left: -205%;
}

#slide4:checked~#slides .inner {
  margin-left: -307%;
}

#slide5:checked~#slides .inner {
  margin-left: -410%;
}

#slide6:checked~#slides .inner {
  margin-left: -512%;
}

#slide7:checked~#slides .inner {
  margin-left: -614%;
}

#slide8:checked~#slides .inner {
  margin-left: -718%;
}

#slide9:checked~#slides .inner {
  margin-left: -819%;
}

#slide10:checked~#slides .inner {
  margin-left: -922%;
}

#slide11:checked~#slides .inner {
  margin-left: -1024%;
}

#slide12:checked~#slides .inner {
  margin-left: -1127%;
}

#slide13:checked~#slides .inner {
  margin-left: -1229%;
}

#slide14:checked~#slides .inner {
  margin-left: -1331%;
}

#slide15:checked~#slides .inner {
  margin-left: -1434%;
}

#slide16:checked~#slides .inner {
  margin-left: -1536%;
}

#slide17:checked~#slides .inner {
  margin-left: -1638%;
}

#slide18:checked~#slides .inner {
  margin-left: -1741%;
}

#slide19:checked~#slides .inner {
  margin-left: -1843%;
}

#slide20:checked~#slides .inner {
  margin-left: -1945.5%;
}

#slide21:checked~#slides .inner {
  margin-left: -2048%;
}

#slide22:checked~#slides .inner {
  margin-left: -2150.5%;
}

#slide23:checked~#slides .inner {
  margin-left: -2253%;
}

#slide24:checked~#slides .inner {
  margin-left: -2355%;
}

#slide25:checked~#slides .inner {
  margin-left: -2457.1%;
}

#slide26:checked~#slides .inner {
  margin-left: -2559.7%;
}

#slide27:checked~#slides .inner {
  margin-left: -2662%;
}

#slide28:checked~#slides .inner {
  margin-left: -2764.5%;
}

#slide29:checked~#slides .inner {
  margin-left: -2867%;
}

#slide30:checked~#slides .inner {
  margin-left: -2970%;
}

#slide31:checked~#slides .inner {
  margin-left: -3074%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 3200%;
  line-height: 0;
  height: auto;
}

#slides .inner img {
  width: 100%;
  height: auto;
}

#slides .slide {
  width: 3.2%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #fff;
}

#controls {
  margin: -200px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(5),
#slide5:checked~#controls label:nth-child(6),
#slide6:checked~#controls label:nth-child(7),
#slide7:checked~#controls label:nth-child(8),
#slide8:checked~#controls label:nth-child(9),
#slide9:checked~#controls label:nth-child(10),
#slide10:checked~#controls label:nth-child(11),
#slide11:checked~#controls label:nth-child(12),
#slide12:checked~#controls label:nth-child(13),
#slide13:checked~#controls label:nth-child(14),
#slide14:checked~#controls label:nth-child(15),
#slide15:checked~#controls label:nth-child(16),
#slide16:checked~#controls label:nth-child(17),
#slide17:checked~#controls label:nth-child(18),
#slide18:checked~#controls label:nth-child(19),
#slide19:checked~#controls label:nth-child(20),
#slide20:checked~#controls label:nth-child(21),
#slide21:checked~#controls label:nth-child(22),
#slide22:checked~#controls label:nth-child(23),
#slide23:checked~#controls label:nth-child(24),
#slide24:checked~#controls label:nth-child(25),
#slide25:checked~#controls label:nth-child(26),
#slide26:checked~#controls label:nth-child(27),
#slide27:checked~#controls label:nth-child(28),
#slide28:checked~#controls label:nth-child(29),
#slide29:checked~#controls label:nth-child(30),
#slide30:checked~#controls label:nth-child(31),
#slide31:checked~#controls label:nth-child(1) {
  background: url('./images/keyboard-right-arrow-button-1_icon-icons.com_72690.svg') no-repeat;
  float: right;
  margin: -10px -100px 0 0;
  display: block;
  background-size: 50px;
}

#slide1:checked~#controls label:nth-child(31),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2),
#slide4:checked~#controls label:nth-child(3),
#slide5:checked~#controls label:nth-child(4),
#slide6:checked~#controls label:nth-child(5),
#slide7:checked~#controls label:nth-child(6),
#slide8:checked~#controls label:nth-child(7),
#slide9:checked~#controls label:nth-child(8),
#slide10:checked~#controls label:nth-child(9),
#slide11:checked~#controls label:nth-child(10),
#slide12:checked~#controls label:nth-child(11),
#slide13:checked~#controls label:nth-child(12),
#slide14:checked~#controls label:nth-child(13),
#slide15:checked~#controls label:nth-child(14),
#slide16:checked~#controls label:nth-child(15),
#slide17:checked~#controls label:nth-child(6),
#slide18:checked~#controls label:nth-child(17),
#slide19:checked~#controls label:nth-child(18),
#slide20:checked~#controls label:nth-child(19),
#slide21:checked~#controls label:nth-child(20),
#slide22:checked~#controls label:nth-child(21),
#slide23:checked~#controls label:nth-child(22),
#slide24:checked~#controls label:nth-child(23),
#slide25:checked~#controls label:nth-child(24),
#slide26:checked~#controls label:nth-child(25),
#slide27:checked~#controls label:nth-child(26),
#slide28:checked~#controls label:nth-child(27),
#slide29:checked~#controls label:nth-child(28),
#slide30:checked~#controls label:nth-child(29),
#slide31:checked~#controls label:nth-child(30) {
  background: url('./images/keyboard-left-arrow-button_icon-icons.com_72692.svg') no-repeat;
  float: left;
  margin: -10px 0 0 -70px;
  display: block;
  background-size: 50px;
}

#bullets {
  margin: 150px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4),
#slide5:checked~#bullets label:nth-child(5),
#slide6:checked~#bullets label:nth-child(6),
#slide7:checked~#bullets label:nth-child(7),
#slide8:checked~#bullets label:nth-child(8),
#slide9:checked~#bullets label:nth-child(9),
#slide10:checked~#bullets label:nth-child(10),
#slide11:checked~#bullets label:nth-child(11),
#slide12:checked~#bullets label:nth-child(12),
#slide13:checked~#bullets label:nth-child(13),
#slide14:checked~#bullets label:nth-child(14),
#slide15:checked~#bullets label:nth-child(15),
#slide16:checked~#bullets label:nth-child(16),
#slide17:checked~#bullets label:nth-child(17),
#slide18:checked~#bullets label:nth-child(18),
#slide19:checked~#bullets label:nth-child(19),
#slide20:checked~#bullets label:nth-child(20),
#slide21:checked~#bullets label:nth-child(21),
#slide22:checked~#bullets label:nth-child(22),
#slide23:checked~#bullets label:nth-child(23),
#slide24:checked~#bullets label:nth-child(24),
#slide25:checked~#bullets label:nth-child(25),
#slide26:checked~#bullets label:nth-child(26),
#slide27:checked~#bullets label:nth-child(27),
#slide28:checked~#bullets label:nth-child(28),
#slide29:checked~#bullets label:nth-child(29),
#slide30:checked~#bullets label:nth-child(30),
#slide31:checked~#bullets label:nth-child(31) {
  background: #444;
}

@media (max-width:800px) {

  #slide1:checked~#controls label:nth-child(2),
  #slide2:checked~#controls label:nth-child(3),
  #slide3:checked~#controls label:nth-child(4),
  #slide4:checked~#controls label:nth-child(5),
  #slide5:checked~#controls label:nth-child(6),
  #slide6:checked~#controls label:nth-child(7),
  #slide7:checked~#controls label:nth-child(8),
  #slide8:checked~#controls label:nth-child(9),
  #slide9:checked~#controls label:nth-child(10),
  #slide10:checked~#controls label:nth-child(11),
  #slide11:checked~#controls label:nth-child(12),
  #slide12:checked~#controls label:nth-child(13),
  #slide13:checked~#controls label:nth-child(14),
  #slide14:checked~#controls label:nth-child(15),
  #slide15:checked~#controls label:nth-child(16),
  #slide16:checked~#controls label:nth-child(17),
  #slide17:checked~#controls label:nth-child(18),
  #slide18:checked~#controls label:nth-child(19),
  #slide19:checked~#controls label:nth-child(20),
  #slide20:checked~#controls label:nth-child(21),
  #slide21:checked~#controls label:nth-child(22),
  #slide22:checked~#controls label:nth-child(23),
  #slide23:checked~#controls label:nth-child(24),
  #slide24:checked~#controls label:nth-child(25),
  #slide25:checked~#controls label:nth-child(26),
  #slide26:checked~#controls label:nth-child(27),
  #slide27:checked~#controls label:nth-child(28),
  #slide28:checked~#controls label:nth-child(29),
  #slide29:checked~#controls label:nth-child(30),
  #slide30:checked~#controls label:nth-child(31),
  #slide31:checked~#controls label:nth-child(1),
  #slide1:checked~#controls label:nth-child(2),
  #slide2:checked~#controls label:nth-child(3),
  #slide3:checked~#controls label:nth-child(4),
  #slide4:checked~#controls label:nth-child(5),
  #slide5:checked~#controls label:nth-child(6),
  #slide6:checked~#controls label:nth-child(7),
  #slide7:checked~#controls label:nth-child(8),
  #slide8:checked~#controls label:nth-child(9),
  #slide9:checked~#controls label:nth-child(10),
  #slide10:checked~#controls label:nth-child(11),
  #slide11:checked~#controls label:nth-child(12),
  #slide12:checked~#controls label:nth-child(13),
  #slide13:checked~#controls label:nth-child(14),
  #slide14:checked~#controls label:nth-child(15),
  #slide15:checked~#controls label:nth-child(16),
  #slide16:checked~#controls label:nth-child(17),
  #slide17:checked~#controls label:nth-child(18),
  #slide18:checked~#controls label:nth-child(19),
  #slide19:checked~#controls label:nth-child(20),
  #slide20:checked~#controls label:nth-child(21),
  #slide21:checked~#controls label:nth-child(22),
  #slide22:checked~#controls label:nth-child(23),
  #slide23:checked~#controls label:nth-child(24),
  #slide24:checked~#controls label:nth-child(25),
  #slide25:checked~#controls label:nth-child(26),
  #slide26:checked~#controls label:nth-child(27),
  #slide27:checked~#controls label:nth-child(28),
  #slide28:checked~#controls label:nth-child(29),
  #slide29:checked~#controls label:nth-child(30),
  #slide30:checked~#controls label:nth-child(31),
  #slide31:checked~#controls label:nth-child(1) {
    margin: 0;
  }

  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}